<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shahriar.hasan.officealarm">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.AlarmActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.AlarmDialogActivity"
            android:label="@string/app_name"
            android:showOnLockScreen="true">

        </activity>

        <service android:name=".Service.AlarmService"
            android:enabled = "true"/>

        <receiver android:name=".Receiver.AlarmReceiver" android:process=":remote">
        <intent-filter>
            <action android:name="com.shahriar.hasan.officealarm.AlarmDialogActivity" />
        </intent-filter>
        </receiver>
    </application>

</manifest>